<%- include('./partials/header') %>
  <script src="javascripts/game_page.js"></script>
</head>
  <body onload="startGame('<%=JSON.stringify(characters)%>', <%=noPlays%>)"> <!-- ignore these, its nessesary --> 
    <% if (noPlays) { %>
      <div class="play-timer">
        <p id="timer"></p>
      </div>
    <%} else if (started) { %>
      <div class="scoreboard" >
        <p>SCORE: <%= score %></p>
        <p>PLAYS REMAINING: <%= plays %></p>
      </div>
      <div class="triangle-container">
        <div class="top-circle circle" id="circle0" onclick="(pickCircle(0))">
        </div>
        <div class="bottom-circles">
            <div class="circle" id="circle1" onclick="(pickCircle(1))">
            </div>
            <div class="circle" id="circle2" onclick="(pickCircle(2))">
            </div>
        </div>
      </div>
      <form action="/answer-game" method="POST" class="button-container">
        <input type="text" id="circleID" name="circle" value="0" style="display:none;">
        <input type="text" id="actionID" name="action" value="0" style="display:none;">
        <button class="action-btn" onclick="doAct(0)">
          <input type=submit id="submit" style="display:none;">
          give compliment
        </button>
        <button class="action-btn" onclick="doAct(1)">
          <input type=submit id="submit" style="display:none;">
          offer help
        </button>
        <button class="action-btn" onclick="doAct(2)">
          <input type=submit id="submit" style="display:none;">
          invite to event
        </button>
      </form>
    <% } else { %>
      <div class="startgame-container">
        <p>Welcome to Social Circles! To get a high score, you must choose actions that boost happiness. Check the characters page to see how actions effect different characters. You can play once every hour. Click start game to begin!</p>
        <button id="startGame" onclick="ok()">Start Game</button>
      </div>
    <% } %>
  </body>
  
</html>